# Exclusions générales
.DS_Store
Thumbs.db
*.log
*.env
*.tmp
*.bak
.idea/
.vscode/
node_modules/
dist/
build/

# Java (Spring Boot)
*.class
*.war
*.jar
target/
*.iml
*.project
*.settings/
*.classpath
logs/
hs_err_pid*

# ReactJS (Frontend)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.cache/
coverage/
.eslintcache
*.map
build/

# React Native
android/.gradle/
android/app/build/
ios/Pods/
*.xcodeproj/
*.xcworkspace/
.expo/
*.apk
*.ipa

# Flutter
**/android/.gradle/
**/android/app/build/
**/ios/Flutter/.last_build_id
**/build/
**/.dart_tool/
**/flutter_*.log
**/.packages
**/pubspec.lock

# OS-specific
*.swp
*.swo
*.~lock.*
*.~undo-tree.*
*.bak
*.tmp

# Git-specific
*.orig
*.patch
